PORT=4000
NODE_ENV=development
FRONTEND_ORIGINS=
SESSION_SECRET=replace-with-a-random-value-at-least-32-characters
GENLAYER_CONTRACT=
GENLAYER_CHAIN_ID=0x107d
GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
GENLAYER_EXPLORER_URL=https://explorer-bradbury.genlayer.com/
ANNOTATEX_DATA_DIR=
